* {
  background-color: black;
  box-sizing: border-box;
  background-image: url(back.png);
  background-repeat: no-repeat;
  z-index: 10px;
}

/* heder start from here ok */

header {
  width: 100%;
  height: 190px;
}

header > div {
  height: 120px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.one {
  width: 144px;
  height: 59px;

  margin-top: 54px;
  margin-left: 100px;
}
ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 78px;
}
li {
  color: aliceblue;
  gap: 43px;
  margin-left: 50px;
}
.top {
  width: 550px;
}
.li-collor {
  font-family: Manrope;
  font-size: 20px;
  color: #00ff55;
}

.midel-in {
  width: 171px;
  height: 52px;

  margin-top: 58px;
}

.midel-in > img {
  gap: 10px;
  margin-top: 20px;
}
.section {
  width: 350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
}
.section > div {
  width: 241px;
  height: 46px;

  margin-top: 63px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: minmax(2, 1fr);
}
.section > div > div {
  width: 149px;
  height: 42px;

  border-radius: 27px;
}
.section-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 27px;
}
.section-one > img {
  margin-top: 8px;
  margin-left: 15px;
}
h4 {
  color: #00ff55;
  margin-left: 20px;
  margin-top: 10px;
}

.section {
  width: 900px;
  height: 51px;
}
.header-section {
  width: 84%;
  height: 50px;

  margin-left: 3%;
  margin-top: 6px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.header-section > div {
  color: white;
  text-align: center;
  align-content: center;
  font-size: 20px;
}
.header-section > div > img {
  height: 46px;
}
.header-section-one {
  width: 200px;
}
.header-section-six {
  width: 80px;
}
/* heder ended heare ok*/
/* section start from heare  */
.triger {
  width: 100%;
  height: 600px;
  border: solid blue 2px;
}

.close{
  width: 300px;
  height: 150px;
  border: 2px solid red;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 0%;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  box-sizing: border-box;
 


}
.a{
   color: #00ff55;
   margin: 0%;
   margin-top: 1px;

}
.b{
  color: white;
  margin: 0%;
}
.open{
  width:350px;
  height: 40px;
  border: 2px solid red;
  margin: auto;
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.open>div{
  border: 2px solid white;
}
.open-two{
  color: white;

}
.open-four{
  color: white;
}
.open-three{
  color: white;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}
.open-three>img{
  object-fit: cover;
  width: 40%;
  margin-top: 15px;
  margin-left:6px ;



 
}
.sp{
  text-align: center;
}
.si{
  margin-left: 20-px;
}